.vscode
*/*.sym
*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.x
*.b
*.b.c
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kern/kernel
user/usys.S
.gdbinit
todo.txt
dtb.txt
kernel-qemu
syscall_test
official_tests
test_fat
output.json
os_output.txt
test
*.bin
*.uImage
