.vscode
*/*.sym
*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.x
*.b
*.b.c
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kern/kernel
user/usys.S
.gdbinit
todo.txt
dtb.txt
kernel-qemu
syscall_test
official_tests
test_fat
output.json
os_output.txt
test
sdcard
busybox
os_busybox.txt
os_lmbench.txt
lmbench_all
output0.txt
lmbench_testcode.sh
linux-test
